<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <title>Untold</title>
    <style>
    @import url(https://cdnjs.cloudflare.com/ajax/libs/MaterialDesign-Webfont/5.3.45/css/materialdesignicons.min.css);>
    </style>
    <link href="https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  </head>
  <body class="bg-gray-100 h-screen">
  <!-- Box left -->
  <div class="md:flex space-x-16 mt-20 md:mr-0 mr-10">
    <div class="md:flex items-center pl-16 ">
      <div class="">
        <h class="lg:text-5xl  font-bold leading-tight text-3xl">Tell the world the untold</h1>
        <p class="mt-4 text-lg font-normal">Sometimes we feel safe if we keep our feelings to ourselves,<br> but not for our hearts. Tell the story here anonymously</p>
        <div class="flex mt-10 w-40 items-center space-x-3 py-3 px-6 bg-indigo-600 text-white rounded-lg transition-all duration-400 transform hover:scale-105 cursor-pointer hover:shadow-lg">
            <button id="open-modal-id" class="text-lg text-md" onclick="toggleModal('modal-id')">Confess now</button>
        </div>
        
     </div>
     
    </div>
    
    <!-- Box right -->
    <div class="max-w-lg pr-24 md:flex justify-center items-center  hidden">
      <img class="rounded-lg" src="{{url_for('static', filename='happy.jpg')}}" alt="">
    </div>
    
  </div>
  
  <!--ini form modals satu-->
  <div id="modal-id" class="fixed hidden z-50 inset-0 bg-black bg-center inline flex justify-center items-center bg-opacity-40" >
    <div>
      <div class="flex max-w-md space-y-6 p-10 bg-white rounded-xl justify-center items-center shadow-lg">
        <div class="grid z-99 w-50 h-50 gap-8 grid-cols-1">
          <div class="flex flex-col justify-center items-center z-99">
            <div class="flex flex-col sm:flex-row items-center">
              <h2 class="font-semibold text-lg mr-auto">Tell the story here</h2>
              <div class="w-full sm:w-auto sm:ml-auto mt-3 sm:mt-0"></div>
            </div>
            <div class="mt-5">
              <div class="form">
                <form id="ini-data" method="post" action="{{url_for('confess')}}">
                  <div class="md:flex flex-row md:space-x-4 w-full text-xs">
                    <div class="mb-3 space-y-2 w-full text-xs">
                      <label class="font-semibold text-gray-600 py-2">Title<abbr title="required">*</abbr></label>
                      <input required="true" placeholder="How was today?" class="appearance-none required title-story block w-full bg-grey-lighter text-grey-darker border border-grey-lighter rounded-lg h-10 px-4" type="text" name="title_story" id="title_story">
                      <p class="text-red text-xs hidden">Please fill out this field.</p>
                    </div>
                  </div>
                  <div class="md:flex flex-row md:space-x-4 w-full text-xs">
                    <div class="mb-3 space-y-2 w-full text-xs">
                      <label class="font-semibold text-gray-600 py-2">Shown username</label>
                      <input placeholder="Default value is @unknown" class="username appearance-none block w-full bg-grey-lighter text-grey-darker border border-grey-lighter rounded-lg h-10 px-4" type="text" name="username" id="username">
                      <p class="text-red text-xs hidden">Please fill out this field.</p>
                    </div>
                  </div>
                  <div class="flex-auto w-full mb-1 text-xs space-y-2">
                    <label class="font-semibold text-gray-600 py-2">Description</label>
                    <textarea required="true" name="stories" id="stories" onkeyup="countChar(this)" class="required w-full min-h-[100px] max-h-[300px] h-28 appearance-none block w-full bg-grey-lighter text-grey-darker border border-grey-lighter rounded-lg  py-4 px-4" placeholder="Is there anything you want to tell?" spellcheck="false"></textarea>
                    <p class="text-xs text-gray-400 text-left my-3" id="charNum"></p>
                  </div>
                  <p class="text-xs text-red-500 text-right my-3">Required fields are marked with an asterisk <abbr title="Required field">*</abbr></p>
                  <div class="mt-5 text-right md:space-x-3 md:block flex flex-col-reverse">
                    <button id="closeModal" class="mb-2 md:mb-0 bg-red-400 px-5 py-2 text-sm shadow-sm font-medium tracking-wider border text-white rounded-full hover:shadow-lg hover:bg-red-500 pointer-events-auto">Cancel</button>
                    <button id="confirm-button" class="mb-2 md:mb-0 bg-green-400 px-5 py-2 text-sm shadow-sm font-medium tracking-wider text-white rounded-full hover:shadow-lg hover:bg-green-500 pointer-events-auto">Next</button>
                  </div> 
                </form>  
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
<!--ini end form modals-->

<!--ini form modals kedua-->
<div id="modal-kedua" class="fixed hidden z-50 inset-0 bg-black bg-center flex-none bg-opacity-40 justify-center items-center" >
  <div>
    <div class="flex max-w-md space-y-8 p-10 bg-white rounded-xl justify-center items-center shadow-lg">
      <div class="grid z-99 w-50 h-50 gap-8 grid-cols-1">
        <div class="flex flex-col justify-center items-center z-99">
          <div class="flex flex-col sm:flex-row items-center">
            <h2 class="font-semibold text-lg mr-auto">Confirmation</h2>
            <div class="w-full sm:w-auto sm:ml-auto mt-3 sm:mt-0"></div>
          </div>
          <div class="mt-5 justify-center items-center h-32 w-32">
            <img class="rounded-lg" src="{{url_for('static', filename='clock.png')}}" alt="">
          </div>
          <div class="flex-auto w-full mb-1 text-xs space-y-2">
            <p class="font-semibold text-xs text-gray-600 text-center line-clamp-2 my-2">
              After sending the confession, you need to wait about 30 minutes to be able to send it again. 
              Give someone else a chance to send their confession :)
            </p>
          </div>
        </div>
        <div class="mt-5 text-right md:space-x-3 md:block flex flex-col-reverse">
          <button id="back" class="mb-2 md:mb-0 bg-white px-5 py-2 text-sm shadow-sm font-medium tracking-wider border text-gray-600 rounded-full hover:shadow-lg hover:bg-gray-100 pointer-events-auto">Back</button>
          <button id="form-submit" onclick="return myConfirm();" value="submit" type="submit" class="mb-2 md:mb-0 bg-green-400 px-5 py-2 text-sm shadow-sm font-medium tracking-wider text-white rounded-full hover:shadow-lg hover:bg-green-500 pointer-events-auto">Submit</input>
        </div>
      </div>
    </div>
  </div>
</div>
<!--ini end form modals-->

  <!--ini adalah search-->
  <form method="get" action="{{url_for('result')}}">
    <div class="p-8">
        <div class="bg-white flex items-center rounded-full shadow-lg">
          <input class="rounded-l-full w-full py-4 px-6 text-gray-700 leading-tight focus:outline-none" id="search" type="text" name="cari" placeholder="Search">
          <div class="p-4">
            <button class="bg-blue-500 fill-current text-white rounded-full p-2 hover:bg-blue-400 focus:outline-none w-12 h-12 flex items-center justify-center">
              <img src="{{url_for('static', filename='search2.svg')}}" alt="">
            </button>
            </div>
        </div>
    </div>
  </form>
    <!--ini adalah end search-->
    
    <!--ini adalah contoh coba deh bentar 
    <section class="container flex px-6 py-4 mx-auto">
      <div class="grid flex gap-6 mb-8 md:grid-cols-1 lg:grid-cols-2">
      
        {%for i in story%}        
            <div class="flex items-center p-4 bg-white border-2 border-gray-200 rounded-lg shadow-sm dark:bg-gray-800">
                <img alt="mountain" class="w-45 rounded-md border-2 border-gray-300" src="https://picsum.photos/seed/picsum/200" />
                 <div id="body" class="flex flex-col ml-5">
                    <h4 id="name" class="text-xl font-semibold mb-2">{{i["title_story"]}}</h4>
                    <p id="job" class="text-gray-800 mt-2">{{i["stories"]}}</p>
                    <div class="flex mt-5">
                       <img alt="avatar" class="w-6 rounded-full border-2 border-gray-300" src="https://picsum.photos/seed/picsum/200" />
                       <p class="ml-3">{{i["created_at"]}}</p>
                    </div>
                 </div>
            </div>
        {%endfor%}
        
      </div>
    </section>
    nah ini ends-->

    <!-- This is an example component -->
  
    <section class="container flex px-6 py-4 mx-auto">
    <!-- Card Component -->
      <div class="grid gap-6 mb-8 md:grid-cols-1 lg:grid-cols-4 flex">
        {%for i in story%}  
          <div class="min-w-screen p-4 grid mb-4   flex items-center justify-center">
            <!--ini card-->   
            
              <div class="w-full mx-auto rounded-lg bg-white shadow-lg p-16 text-gray-800" style="max-width: 400px">
                <div class="w-full flex mb-4">
                  <div class="flex-grow">
                    <h6 class="font-bold text-md">{{i["title_story"]}}</h6>
                    <p class="text-xs text-gray-600"><span>@</span>{{i["username"]}}</p>
                  </div>
                </div>
  
                <div class="w-full mb-4">
                  <p class="text-sm">{{i["stories"]}}</p>
                </div>
                <div class="w-full">
                  <p id="inipe" class="text-xs text-gray-500 text-right">{{i["created_at"]}}</p>
                </div>
              </div>
            
            <!--card berhenti di sini-->
          </div>
          {%endfor%}
      </div>
    </section>
 
      <!--Card Component -->
         
          
          
          
          

                    <!--Footer-->
  </body>
</html>
    <script type="text/javascript">
      function countChar(val) {
        var len = val.value.length;
        if (len >= 255) {
          val.value = val.value.substring(0, 255);
          $('#charNum').text("Looks serious, but sorry your story ends here, is it ok?").css("color", "red");
        } else {
            $('#charNum').text(255 - len + " characters left").css("color", "rgba(156,163,175,var(--tw-text-opacity))");
        }
      };
        $(document).ready(function(){
          $('#open-modal-id').click(function(){
            $("#modal-id").css("display", "flex");
          })
          $('#confirm-button').click(function(){
            $("#modal-id").css("display", "none");
            $("#modal-kedua").css("display", "flex");
          })
          $('#closeModal').click(function(){
            $("#modal-id").css("display", "none");
          })
          $('#back').click(function(){
            $("#modal-id").css("display", "flex");
            $("#modal-kedua").css("display", "none");
          })
          $('#form-submit').click(function(){
            $("#modal-id").css("display", "none");
            $("#modal-kedua").css("display", "none");
            $.post("{{url_for('confess')}}", $("#ini-data").serialize(), function(data){})
          })
      });
      $(function myConfirm() {
        var submitButton = $("ini-data input[type='submit']").attr("disabled", true);
        $("#myForm input.required").change(function () {
          var valid = true;
          $.each($("#myForm input.required"), function (index, value) {
            if(!$(value).val()){
              valid = false;
            }
          });
          if(valid){
            $(submitButton).attr("disabled", false);
          } 
          else{
            $(submitButton).attr("disabled", true);
          }
        });
      });

      var paragraf = document.getElementById("inipe");
      pe.dateformat(new Date(), "dddd, mmmm dS, yyyy, h:MM TT");


    </script>